<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Innario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <Innario.Properties.Settings>
            <setting name="DirMp3" serializeAs="String">
                <value>C:\Users\ale\Downloads\Mp3 canti</value>
            </setting>
            <setting name="DirPPT" serializeAs="String">
                <value>C:\Users\ale\Downloads\PowerPoint Canti</value>
            </setting>
            <setting name="PPTExePAth" serializeAs="String">
                <value>C:\Program Files\Microsoft Office\Office14\PPTVIEW.EXE</value>
            </setting>
        </Innario.Properties.Settings>
    </applicationSettings>
</configuration>
